/* ==========================================================================
 Table of Contents

 ::Global
 ::Main container
 ::Top bar menu
 ::Login container
 ::Footer
 ::Helper
 ========================================================================== */

/* ==========================================================================
 Global
 ========================================================================== */

html,
input,
select,
textarea {
    /*color: #222;*/
}

h1,
h2,
h3,
h4 {
	/*font-size: 2.1em;
  font-family: 'Lobster', cursive;
  line-height: 1.4;*/
}

body {
  position: static;
    /*font-size: 1.0em;
    font-family: 'Raleway', sans-serif;
    line-height: 1.4;
    background: #2C2C2C url(../img/bg/background-menu.gif) repeat;*/
}

/*
 * Resolve conflicts with KendoUI and Foundation
 * Source: http://stackoverflow.com/questions/14303955/using-zurb-foundation-with-kendo-ui
 */
*[class*="k-"] {
  -moz-box-sizing: content-box !important;
  -webkit-box-sizing: content-box !important;
  box-sizing: content-box !important;
}
table {
  margin-bottom: 0px!important;
  background: !important;
}
table tr.even, table tr.alt, table tr:nth-of-type(even) {
  /*background: !important;*/
}


/* ==========================================================================
 Main container
 ========================================================================== */

#global {
	position: static;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#main-container {
	position: relative;
}

#search-container {
	position: relative;
}

/* ==========================================================================
 Top bar menu          Credits to Brendan Sera-Shriar - www.thebrendans.com
 ========================================================================== */

.top-bar {
	background-color: rgba(0,0,0,0.8);
	-webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 3px 0px 3px rgba(28,34,36,0.1);
	   -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 3px 0px 3px rgba(28,34,36,0.1);
	     -o-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 3px 0px 3px rgba(28,34,36,0.1);
	        box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.2), 0px 3px 0px 3px rgba(28,34,36,0.1);
}

.top-bar-section ul {
	/*padding: 6px 40px;
	line-height: 40px;*/
	background-color: rgba(0,0,0,0.8);
}

.top-bar-section ul li a:not(.button) {
	/*padding: 6px 40px;
	line-height: 40px;*/
	background-color: rgba(0,0,0,0.8);
}

.top-bar-section ul li a:hover {
	/*color: #317eb9;*/
}

/* ==========================================================================
 Login container                  Credits to HappyBox - www.happyboxcms.com
 ========================================================================== */

.login-container {
	position: relative;
  margin: 0px auto;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  margin-top: 100px;
  margin-left: -200px;
}

#cube {
  width: 400px;
  height: 400px;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  display: none;
}

html.loaded #cube {
  display: block;
}

#cube figure {
  display: block;
  position: absolute;
  width: 398px;
  height: 398px;
  background-color: white;
}

.login-container {
  -webkit-perspective: 4000px;
     -moz-perspective: 4000px;
       -o-perspective: 4000px;
          perspective: 4000px;
}

#cube,
#cube figure * {  
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
#cube figure.hidden {display: none;}

#cube,
#cube * {
	-webkit-transition: -webkit-transform .6s ease-in-out;
		 -moz-transition: -moz-transform .6s ease-in-out;
		   -o-transition: -o-transform .6s ease-in-out;
		      transition: transform .6s ease-in-out;
}

#cube figure.back * {display: none;}
#cube.panels-backface-invisible figure {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
}

#cube .face-front  {   
  -webkit-transform: translateZ( 200px );
     -moz-transform: translateZ( 200px );
       -o-transform: translateZ( 200px );
          transform: translateZ( 200px );
}

#cube .face-right {
  -webkit-transform: rotateY(  90deg ) translateZ( 200px );
     -moz-transform: rotateY(  90deg ) translateZ( 200px );
       -o-transform: rotateY(  90deg ) translateZ( 200px );
          transform: rotateY(  90deg ) translateZ( 200px );
}

#cube.show-front {
  -webkit-transform: translateZ( -200px );
     -moz-transform: translateZ( -200px );
       -o-transform: translateZ( -200px );
          transform: translateZ( -200px );
}

#cube.show-right {
  -webkit-transform: translateZ( -200px ) rotateY(  -90deg );
     -moz-transform: translateZ( -200px ) rotateY(  -90deg );
       -o-transform: translateZ( -200px ) rotateY(  -90deg );
          transform: translateZ( -200px ) rotateY(  -90deg );
}

#cube {
  -webkit-transform: translateZ( 2000px ) rotateX( 0deg ) rotateY(180deg);
     -moz-transform: translateZ( 2000px ) rotateX( 0deg ) rotateY(180deg);
       -o-transform: translateZ( 2000px ) rotateX( 0deg ) rotateY(180deg);
          transform: translateZ( 2000px ) rotateX( 0deg ) rotateY(180deg);
}

/* ==========================================================================
 Helper
 ========================================================================== */

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.fade:hover {
   opacity: 0.5;
}