/* ==========================================================================
   Table of Contents
   
   ::Global
   ::Intro
   ::Survey
   ::Contact us
   ========================================================================== */
   
/* ==========================================================================
   Global
   ========================================================================== */

.row {
	background: #eee;
	margin-bottom: 10px;
}
.row .column {
	border: 1px solid #ddd;
	font-weight: bold;
	text-indent: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
}