extends ../layout

block content

  h3 Edit a restaurant
  
  script(id="rowTemplate", type="text/x-kendo-tmpl").
    <tr data-uid="#= uid #" class="k-alt" role="row">
      <td role="gridcell">
        #: name #
      </td>
      <td role="gridcell">
        #: owner_name #
      </td>
      <td role="gridcell">
          #: reservation_email #
      </td>
      <td role="gridcell">
          #: survey_url #
      </td>
      <td role="gridcell">
          #: created_at #
      </td>
      <td role="gridcell">
        <a class="tiny button k-grid-edit" href="\\#">Edit</a>
        <a class="tiny button k-grid-delete" href="\\#">Delete</a>
      </td>
    </tr>
  
  script.
    $(document).ready(function() {
      var Restaurant = kendo.data.Model.define({
        id: "_id",
        fields: {
          _id: { type: "string", editable: false, nullable: true },
          created_at: { type: "date", editable: false, nullable: true }
        }
      });
  
      var dataSource = new kendo.data.DataSource({
        transport: {
          read: {
            url: "/restaurants",
            type: "GET",
            dataType: "json"
          },
          create: {
            url: "/restaurants",
            type: "POST",
            dataType: "json"
          },
          update: {
            type: "PUT",
            dataType: "json"
          },
          destroy: {
            type: "DELETE",
            dataType: "json"
          },
          parameterMap: function(data, type) {
            if (type == "create" || type == "update") { // Prevent to send _id and __v as parameter
              delete data['_id'];
              delete data['__v'];
              return data;             
            }
          }
        },
        schema: {
          model: Restaurant
        },
        pageSize: 10      
      });
            
      var selectedRestaurant;
      
      $('#restaurants-grid').kendoGrid({
        dataSource: dataSource,
        selectable: true,
        sortable: true,
        groupable: false,
        pageable: { buttonCount: 5,  refresh: true, pageSizes: true },
        scrollable: false,
        navigatable: true,
        editable: "inline",
        //toolbar: ["create"],
        
        columns: [ 
          {field: "name", width: 50, title: "Name"}, 
          {field: "owner_name", width: 50, title: "Owner"}, 
          {field: "reservation_email", width: 65, title: "Reservation Email"},
          {field: "survey_url", width: 35, title: "Survey URL"},
          {field: "created_at", width: 20, title: "Create Date", format: "{0:MM/dd/yyyy}"},
          {command: ["edit", "destroy"], width: 30, title: "&nbsp;"}],
       
        rowTemplate: kendo.template($("#rowTemplate").html().replace('k-alt', '')),
        altRowTemplate: kendo.template($("#rowTemplate").html()),
        
        change: function() {
          var id = this.select().data("uid");
          selectedRestaurant = this.dataSource.getByUid(id);
  
          this.dataSource.options.transport.destroy.url = "/restaurants/" + selectedRestaurant.id;
          this.dataSource.options.transport.update.url = "/restaurants/" + selectedRestaurant.id;
        }
      });
    });
    
              
  #main-container.small-12
    #restaurants-grid
