extends ../layout

block content

	h3 Create a new restaurant

	form(action="/restaurants", method="POST", data-abide)
		fieldset
			legend Restaurant information			
			.row.small-5.columns
				.row.collapse
					.small-12.columns(id='name')
						label Name (*)
						input(type="text", name="name", placeholder="Name of restaurant...", required)
						small.error Name is required.
				.row.collapse
					.small-12.columns(id='owner_name')
						label Owner name
						input(type="text", name="owner_name", placeholder="Name of the owner...")
				.row.collapse
					.small-12.columns(id='reservation_email')
						label Reservation email (*)
						input(type="text", name="reservation_email", placeholder="E.g. info@restaurant.com", required pattern="email")
						small.error Email is required and must be an email format.
				.row.collapse
					.small-12.columns(id='survey_url')
						label Survey URL (*)
						input(type="text", name="survey_url", placeholder="E.g. http://www.typeform.com/lannd2/", required pattern="url")
						small.error URL is required and must be an URL format (including http://).
				.row
					.small-2.columns
						input(type='submit', value="Submit", class="button prefix")