extends ../layout

block content

	h3 Create a new restaurant

	// Function to remove error message
	script.
		function removeErrors() {
			$('.large-12.columns').removeClass('error');
			$('small').remove();
		}

	// Send FORM with Ajax to prevent refresh and keep posted values
	script.
		$( document ).ready(function() {
			$("form").submit(function(e) {
			
				removeErrors(); 			// Reset errors
				e.preventDefault(); 	// Prevents the page from refreshing
				var $this = $(this);
				$.ajax({
					url				: $this.attr("action"),
					type			: "POST",
					dataType	: "json",
					data			: $this.serialize(),
					success		: function(data) {
						if (data.has_errors) {
							for (var key in data.errors) {
								var param = "#" + data.errors[key].param;
								var msg = data.errors[key].msg;
								if (! $(param).hasClass("error")) {
									$(param).addClass("error");
									$(param).append("<small class='error'>" + msg + "</small>");
								}
							}
						}	else { // No errors
							location.href = data.url;
						}
					}
				});
				return false;
			});
		});
	
	form(action="/restaurants", method="POST")
		fieldset
			legend Restaurant information
			
			.row.large-4.columns
				.row.collapse
					.large-12.columns(id='name')
						label Name (*)
						input(type="text", name="name", placeholder="Name of restaurant...")
				.row.collapse
					.large-12.columns(id='owner_name')
						label Owner name
						input(type="text", name="owner_name", placeholder="Name of the owner...")
				.row.collapse
					.large-12.columns(id='reservation_email')
						label Reservation email (*)
						input(type="text", name="reservation_email", placeholder="E.g. info@restaurant.com")
				.row.collapse
					.large-12.columns(id='survey_url')
						label Survey URL (*)
						input(type="text", name="survey_url", placeholder="Enter the survey URL...")
				.row
					.small-3.columns
						input(type='submit', value="Submit", class="button prefix")