!!!
//if IE 8
  <html class="no-js lt-ie9" lang="en">
//if gt IE 8
  <html class="no-js" lang="en">
  
head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  
  meta(name="keywords", content="social, review, customber behavior, experience, emotion, geo-localisation, bar, restaurant, semantic, mobile, montreal, startup")
  meta(name="description", content="Re-Zerve help you fill up your restaurant!")
  meta(name="author", content="Re-Zerve")
  meta(name="copyright", content="Re-Zerve Copyright (c) 2013")
  
  title #{title} - Re-Zerve!
  
  link(rel="stylesheet", href="/css/kendo.common.min.css", type='text/css')
  link(rel="stylesheet", href="/css/kendo.moonlight.min.css", type='text/css')

  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
  script(src="/js/vendor/kendo.web.min.js")
  

  //
    script.
      var _gaq=[['_setAccount','UA-40627611-1'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));

body

  block content